<div class="container-fluid bg-light" style="min-height: 100vh">
  <!-- Main section with light background -->
  <section class="bg-light">
    <div class="container py-5">
      <!-- Category selection buttons -->
      <div
        class="rounded-circle d-flex align-items-center justify-content-center mb-4"
      >
        <button
          *ngFor="
            let category of categoryList;
            let i = index;
            trackBy: trackByIndex
          "
          [class]="
            selectedCategory === category
              ? 'btn btn-primary mx-2'
              : 'btn btn-outline-primary mx-2'
          "
          (click)="filterCategory(category)"
        >
          {{ category }}
        </button>
      </div>

      <!-- Display the number of items and sorting options if a category is selected -->
      <div
        class="d-flex justify-content-between align-items-center mb-4"
        *ngIf="selectedCategory"
      >
        <!-- Display the number of items found -->
        <div class="col-3">
          <p class="text-left mb-0">{{ filteredProducts.length }}</p>
        </div>
        <!-- Sorting options -->
        <div class="d-flex align-items-center">
          <select
            id="sortOptions"
            class="form-select"
            (change)="sortProducts($event)"
          >
            <option value="default">Sort by: Product Id</option>
            <option value="priceAsc">Sort by: Price: Low to High</option>
            <option value="priceDesc">Sort by: Price: High to Low</option>
            <option value="ratingDesc">Sort by: Avg: Customer Review</option>
          </select>
        </div>
      </div>

      <div class="row">
        <!-- Display message cards if no products are found -->
        <ng-container *ngIf="filteredProducts.length === 0">
          <div class="col-md-12 text-center">
            <h6>No products found in this category</h6>
          </div>
        </ng-container>

        <!-- Display product cards if products are found -->
        <ng-container *ngIf="filteredProducts.length > 0">
          <div
            *ngFor="
              let item of filteredProducts;
              let i = index;
              trackBy: trackByIndex
            "
            class="col-md-12 col-lg-3 pt-2 mb-4 mb-lg-0"
          >
            <app-product-card [product]="item"></app-product-card>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</div>
