<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Left elements -->
    <div class="d-flex align-items-center">
      <!-- Brand name -->
      <a class="navbar-brand" href="#"> Electronics Store </a>
      <!-- Links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Viewed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Orders</a>
        </li>
      </ul>
    </div>

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Cart Icon -->
      <a class="text-white me-3" href="#">
        <i class="fa fa-shopping-cart"></i>
      </a>
      <!-- Cart Dropdown Menu -->
      <!-- Cart Items Table -->
    </div>
  </div>
</nav>
<!-- Router outlet for displaying routed components -->
<router-outlet></router-outlet>
